body {
	font-family: Montserrat, Arial, sans-serif;
}
div {
	text-align: center;
}
#bold {
    font-weight: bold;
}
#boldita {
    font-weight: bold;
    font-style: italic;
}
/*social buttons*/
.soc {
	display: table;
	margin: 0 auto;
}
.soc ul {
	width: 10px;
	padding: 10px;
	list-style: none;
	display: inline;
}
.soc ul li {
	display: inline;
	padding: 3px;
}
.soc {
	-o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.soc #fb:hover, #tw:hover, #go:hover, #ig:hover {
	z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*end of social buttons*/
.logo {
	padding-top: 25px;
	width: 20%;
}
.small {
	font-size: 12px;
}
ul li {
	list-style: none;
}
a:link, a:visited {
    color: #d32f2f;
}
a:hover {
    text-decoration: underline;
}	
a {
	text-decoration: none;
}
.menu-button {
	font-weight: bold;
	background-color: #f6e91e;
	border: 1.5px solid #000;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	padding: 6px 40px;
}
.menu-button:hover {
	background-color: #f6d91e;
	text-decoration: none;
}
@media (max-width: 1280px) {
	.logo {
		width: 30%;
}
@media (max-width: 600px) {
	.logo {
		width: 60%;
	}
	.menu-button {
		border: none;
		padding: 8px 90px;
	}
}
