body {
	font-family: Montserrat, Arial, sans-serif
}
div {
	text-align: center;
}
.logo {
	padding-top: 25px;
	width: 20%;
}
.menu {
	padding-top: 10px;
	width: 40%;
}
.small {
	font-size: 12px;
}
.fb-like {
  	vertical-align: top !important;
}
.ig-b- { 
	display: inline-block;
	vertical-align: top !important;
}
.ig-b- img { 
	visibility: hidden;
}
.ig-b-:hover { 
	background-position: 0 -60px;
}
.ig-b-:active { 
	background-position: 0 -120px;
}
.ig-b-16 {
	width: 16px;
	height: 16px;
	background: url(//badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-16 { 
	background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png);
	background-size: 60px 178px;
}
a:visited {
    color: #d32f2f;
}
a:hover {
    text-decoration: underline;
}	
a {
	text-decoration: none;
}
@media (max-width: 1280px) {
	.logo {
		width: 40%;
	}
	.menu {
		width: 80%;
	}
}
@media (max-width: 600px) {
	.logo {
		width: 60%;
	}
}